#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.image-style {
  width: 200px;
}
.button-style {
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  text-size-adjust: auto;
  background-color: rgb(163, 162, 162);
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button-style:hover {
  border-color: black
}
.button-style:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px; 
  padding: 16px; 
}

.grid-item {
  background-color: #f9f9f9; 
  padding: 16px; 
  border: 1px solid #ccc; 
  text-align: center; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}


@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.image-style {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Form Container */

.form-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 20px 0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
}

.form-container input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-button {
  -webkit-text-size-adjust: auto;
  -moz-text-size-adjust: auto;
  -ms-text-size-adjust: auto;
  text-size-adjust: auto;
  background-color: rgb(163, 162, 162);  
  font-size: 18px; 
  padding: 0px
  border-radius: 0px; 
  font-family: inherit;
  cursor: pointer;
  border: 1px solid transparent; 
  line-height: 0.1;
  transition: border-color 0.25s; 
}

.form-button:hover {
  border-color: darkgreen; 
}